body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.canvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

.logout {
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    z-index: 1000;
}
/*#gunsight {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-37px;
    margin-left:-37px;
    font-size: 60px;
    font-weight: bold;
}*/
