<script src='./engines/hand-1.3.7.js'></script>
<script src='./engines/cannon.js'></script>
<script src='./engines/babylon.js'></script>
<script src='./engines/materials/waterMaterial.js'></script>
<canvas id='canvas'></canvas>
<p id="gunsight"/> x </p>
<div id="lifeLabel"> LIFE : 500</div>
<div id="ammoLabel"> AMMO : 30</div>
<div id="scoreLabel">SCORE : 0</div>
<script src="./fps/main.js"></script>
