<script src='./engines/hand-1.3.7.js'></script>
<script src='./engines/cannon.js'></script>
<script src='./engines/babylon.js'></script>
<canvas id='canvas'></canvas>
<p id="gunsight"/> x </p>
<div id="ammoLabel">AMMO : 30</div>
<script src="./god_in_earthquake/main.js"></script>
