<div class="intro">
    welcome to the splendiferious world of games n stuff.

    arrow keys to move, mouse to look, click to shoot, space to jump

    except for racer game, where it's "a" and "d" to move
</div>



<div class="level_buttons">
    <%=button_to 'god inna earthquake', "/levels/god_earthquake", :method => "get" %>
    <%=button_to 'racer', "/levels/racer", :method => "get" %>
    <%=button_to 'fps', "/levels/fps", :method => "get" %>
</div>
