/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

#canvas {
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

#gunsight {
    position: absolute;
    top: 52%;
    left: 52%;
    margin-top: -37px;
    margin-left: -37px;
    font-size: 40px;
}

#ammoLabel {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 2em;
}

#scoreLabel {
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-size: 2em;
}

#lifeLabel {
    position: absolute;
    top: 80px;
    left: 20px;
    color: white;
    font-size: 2em;
}

.intro {
    width: 75%;
    margin-top: 15%;
}

.level_buttons {
    border: 1px solid black;
    padding: 10px;
    margin-top: 25%
}

input {
    width: 300px;
    font-size: 8em;
    margin: 10px;
}
